<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkkj.gps.gateway.ccs.mappper.SysLogMapper">

    <!-- 新增系统日志-->
    <insert id="insertSysLog" parameterType="com.zkkj.gps.gateway.ccs.dto.dbDto.SysLogDbDto">
            INSERT INTO sys_log
                (ip,url,method_type,controller,
                access_parameter,access_response,request_time,response_time,
                execution_duration,request_source,request_source_name)
            VALUES
                (#{ip}, #{url},#{methodType},#{controller},
                 #{accessParameter},#{accessResponse},#{requestTime},#{responseTime},
                 #{executionDuration},#{requestSource},#{requestSourceName})
    </insert>

</mapper>